<div class="row">
  <div class="col-xs-12">
    <!-- <p appBasicHighligh>Please enter into input field!</p>
    <p appBetterHighlight [defaultColorEnter]="'red'" [defaultColorLeave]="'green'">This is better directive!</p>
    <p appBetterHighlight defaultColorEnter="red" defaultColorLeave="green">This is better directive!</p>
    <div *appUnless ="false">this is stractural directive</div> -->
    <form>
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Name</label>
          <input type="text" name="name" class="form-control" required #shoppingName>
        </div>
        <div class="col-sm-2 form-group">
          <label for="amount">Amount</label>
          <input type="number" name="amount" class="form-control" required #shoppingAmoutInput>
        </div>
        <div class="">
          <div class="col-xs-12">
            <button class="btn btn-success" (click)="onAddShopping(shoppingName)" type="submit">Add</button>
            <!-- <button class="btn btn-danger" type="button">Remove</button> -->
            <button class="btn btn-primary" type="reset">Clear</button>
          </div>
        </div>
        <!-- <ul class="list-group">
            <a class="list-group-item" style="cursor: pointer;" *ngFor="let ingredient of ingredients; let i = index" (click)="onRemoveIngredient(i)">
              {{ingredient.name}} {{ingredient.amout}}
            </a>
          </ul> -->
      </div>
    </form>
  </div>
</div>